body{
    background-color: black;
}
#base{
    margin: auto;
    display: flex;
    width: 450px;
    height: 350px;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    border: 5px double gray;
}
#Display{
    margin-top: 15px;
}
.TextBox{
    display: flex;
    text-align: center;
    width: 400px;
    background-color: cyan;
    border: 5px double darkcyan;
}
.ImageBox{
    display: inline-block;
    text-align: center;
    width: 350px;
    height: 292px;
    background-color: cyan;
    border: 5px double darkcyan;
}
img{
    width: 70px;
}